$white-color: white;

.filter {
  display: flex;
  height: 50px;
  width: 100%;

  &__item {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;

    height: 50px;
    width: 50%;
    background-color: $white-color;
    border-radius: 0;

    padding: 0;
    margin: 0;
    border: 1px solid #dfe5ec;

    &--active {
      background-color: #2196f3;
      color: $white-color;
    }

    &:hover {
      cursor: pointer;
    }

    &:first-child {
      border-radius: 10px 0 0 10px;
      border-right: none;
    }

    &:last-child {
      border-radius: 0 10px 10px 0;
      border-left: none;
    }
  }
}
